# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
# *.ld
sdk.ld

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tags
filenametags
cscope.out
*.bc
*.ufw

#add for build
cpu/**/tools/**/*.bin
cpu/**/tools/**/*.txt
cpu/**/tools/**/*.fw
cpu/**/tools/**/*.ver
cpu/**/tools/**/*.lst
cpu/**/tools/**/*.cfg
cpu/**/tools/**/*.ini
cpu/**/tools/download/**/download.bat
cpu/**/*.used
apps/**/board/**/*.bat
sdk_tools/**/make_gatt_services*
*.layout
*.depend
*.used